In [5]:
import sqlite3
con = sqlite3.connect('Weather.db')
cur = con.cursor()
cur.execute("CREATE TABLE weather (id int,recordDate date,temperature int )")
cur.execute("INSERT INTO weather VALUES(1, '2015-01-01' ,10)")
cur.execute("INSERT INTO weather VALUES(2, '2015-01-02' ,25)")
cur.execute("INSERT INTO weather VALUES(3, '2015-01-03' ,20)")
cur.execute("INSERT INTO weather VALUES(4, '2015-01-04' ,30)")
con.commit()
con.close()

In [10]:
con = sqlite3.connect('Weather.db')
cur = con.cursor()
cur.execute('''SELECT w1.id FROM weather w1 
            JOIN weather w2 ON w1.recordDate = DATE(w2.recordDate, '+1 day') 
            WHERE w1.temperature > w2.temperature''')     
result = cur.fetchall()

for row in result:
    print(row[0])

2
4